**/bin/
**/obj/
**/node_modules/
**/dist/
**/.angular/
**/logs/
**/*.log
**/.vs/
**/.vscode/
**/.git/
**/.gitignore
**/README.md
**/docker-compose.yml
**/Dockerfile
**/.dockerignore
**/appsettings.Development.json
**/appsettings.Production.json

